# Harbor
server {
    listen 443 ssl;
    server_name harbor.{{ external_domain }};

    ssl_certificate /etc/letsencrypt/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    location / {
        proxy_pass https://harbor.{{ internal_domain }};  # GitLab 내부 IP
        proxy_ssl_trusted_certificate /etc/pki/ca-trust/source/anchors/ca.crt;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

# 공통 HTTP → HTTPS 리디렉션
server {
    listen 80;
    server_name harbor.{{ external_domain }};
    return 301 https://$host$request_uri;
}
